<h1 id="tableLabel">Consulta de Pagos</h1>

<p>Por favor ingrese un número de cédula para consultar los pagos asociados al cliente.</p>

<p *ngIf="!clientes"><em>Cargando...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="clientes">
  <thead>
    <tr>
      <th>Nombre Completo</th>
      <th>Cédula</th>
      <th>PIN</th>
      <th>Pagos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td class="align-middle">{{ cliente.nombreCompleto }}</td>
      <td class="align-middle">{{ cliente.cedula }}</td>
      <td class="align-middle">{{ cliente.pin }}</td>
      <td colspan="4">
        <table class="table mb-0"  *ngIf="cliente.pagos">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pago of cliente.pagos">
              <td>{{ pago.fecha }}</td>
              <td>{{ pago.monto }}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
