<h1 id="tableLabel">Consulta de Pagos</h1>

<p>Por favor ingrese un número de cédula para consultar los pagos asociados al cliente.</p>

<p *ngIf="!pagos"><em>Cargando...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="pagos">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cédula</th>
      <th>Fecha</th>
      <th>Monto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pago of pagos">
      <td>{{ pago.nombre }}</td>
      <td>{{ pago.cedula }}</td>
      <td>{{ pago.fecha }}</td>
      <td>{{ pago.monto }}</td>
    </tr>
  </tbody>
</table>
