<h1>Hola :), Bienvenid@ a la diversión.!</h1>

<button class="btn btn-primary my-4" type="button" [routerLink]="['/pagos']">Ir a Consultar Pagos --></button>
<p>Es una aplicación SPA, realizada con amor y las siguientes herramientas:</p>
<ul>
  <li>ASP.NET Core 6 y C# para el backend</li>
  <li>Angular 14 y TypeScript para el frontend</li>
  <li>Bootstrap para el diseño y los estilos</li>
  <li>Se desarrollo completamente en Visual Studio 2022 Preview, última versión.</li>
</ul>

<br/>
<br/>
<p class="text-center">#HazTODOConAmor... by Alejandro Marcano</p>
